@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.header{
    display: grid;
    
    align-items: center;
    justify-items: center;
}

.title{
    font-family: 'Alfa Slab One', cursive;
    font-size: 9vh;
    text-shadow:  8px 8px  8px #302900;
    color:#ddbc03;
}